.top {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(to bottom, rgba(19, 51, 21, 0.3) 10%, rgba(19, 51, 21, 0.3) 100%), url(../../img/company_ex.jpg);
  background-position: center;
  background-size: cover;
}
.top-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.pagenation {
  width: 100%;
  margin: 2% auto;
  text-align: center;
}
.pagenation__list {
  display: flex;
  justify-content: center;
}
.pagenation__list__item {
  display: inline-block;
  border: 1px solid #133315;
  width: 40px;
  height: 40px;
  margin: 4% 2% auto 2%;
}
.pagenation__list__item a {
  color: #133315;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.pagenation__list__item:hover {
  cursor: pointer;
  background-color: #133315;
}
.pagenation__list__item:hover a {
  color: #fff;
}
