$Black: #1A1F1A;
$White: #fff;
$Gray:#A0A0A0;
$Gray_Light:#D9D9D9;
$Gray_Bg:#F4F4F4;
$White_rgb10: rgb(255, 255, 255, 10%);
$White_rgb80: rgb(255, 255, 255, 80%);
$White_rgb90: rgb(255, 255, 255, 90%);
$Green:#133315;
$Green_rgb10:rgb(19, 51, 21, 10%);
$Green_rgb70: rgb(19, 51, 21, 70%);
$Green_Light:#A1C7A3;
$Green_Light_rgb10:rgb(161, 199, 163, 10%);
$Green_Light_rgb30: rgb(161, 199, 163, 30%);
$Green_t_rgb8:rgb(57, 105,49, 8%);
$Red: #FF0000;